.wall {
  background-color: blue;
  text-decoration: none;
}


.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: red;
  text-decoration: none;




}


.selected {
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  
}